{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block title %}Admin Panel{% endblock %}</title>
</head>
<body>
        <!-- Sidebar -->
        <nav id="sidebar" class="col-md-2 col-lg-2 d-md-block  sidebar ">
            <div class="position-relative pt-90">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'dashboard_index' %}"> Dashboard </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'dashboard_users' %}"> Users </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="
{% url 'dashboard_product' %}"> Products </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'dashboard_order' %}"> Orders </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'user_profile' %}"> Profile </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}"> Logout </a>

                    </li>
                </ul>
            </div>
        </nav>
        <div class="main-container">
<div class="container-fluid ">
    <div class="row">
        <!-- Main Content -->
        <main class="col-md-12 col-lg-12">
            <div class="container">
                <!-- Navbar --> {% include 'partials/nav.html' %}
                <!-- Topside -->
                <div class="container"> {% include 'partials/topside.html' %}</div>
                <!-- Content Block -->
                <div class="container"> {% block content %}
                    <!-- Default content goes here --> {% endblock %}
                </div>
            </div>
        </main>
    </div>
</div>
            </div>
<!-- External JavaScript -->
<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
        integrity="sha384-KyZXEAg3QhqLMpG8r+Lz6GPOoHqK9R/4rt6uURqO+H8jBpAmYzW5gRV9p6miSN4z"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>