{% extends 'partials/base.html' %}
{% block title %}Users{% endblock %}

{% block content %}
<!--Table-->
<div class="container">
    <div class="row my-4">
        <div class="col-md-4">
            <div id="message-container">
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }} fade-out">
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}
            </div>
            <div class="border bg-white p-4">
                <h4>Add User</h4>
                <hr>
                <form method="post" action="{% url 'register_user' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="first_name">First Name</label>
                        <input type="text" class="form-control" id="first_name" name="first_name" placeholder="FirstName" required>
                    </div>
                    <div class="form-group">
                        <label for="last_name">Last Name</label>
                        <input type="text" class="form-control" id="last_name" name="last_name" placeholder="LastName">   
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" placeholder="Email" required>
                    </div>
                    <div class="form-group">
                        <label for="phone_number">Phone Number</label>
                        <input type="tel" class="form-control" name="phone_number" id="phone_number"  pattern="[0-9]{10}" required>
                        <small class="form-text text-muted">Please enter a 10-digit phone number (numeric only).</small>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                        <small class="form-text text-muted">Default Password is 0000</small>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success btn-block" type="submit">Add User</button>
                        <button class="btn btn-success btn-block" type="submit">Reset</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-md-8">
            <table class="table bg-white">
                <thead class="bg-info">
                <tr class="text-white">
                    <th scope="col">Name</th>
                    <th scope="col">UserName</th>
                    <th scope="col">Email</th>
                    <th scope="col">PhoneNumber</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.first_name }} {{ user.last_name }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.phone_number }}</td>
                    <td>
                        <a class="btn btn-info btn-sm" href="{% url 'update_user_admin' user.email %}">Edit</a>
                        <a class="btn btn-danger btn-sm" href="{% url 'delete_user_admin' user.email %}">Delete</a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<!--End Table-->
{% endblock %}
